body {
    background: #112;
    color: #baa;
}
.todo-item {
    cursor: pointer;
    text-decoration: underline;
}
.done {
    cursor: default;
    text-decoration: line-through;
}
button {
    margin: 0 0 0 1em;
}
